<!-- <p>parent works!</p> -->
<div class="container mt-3">
  <h2>Parent Component</h2>
  <div class="card">
    <!-- <div class="card-header">Parent</div> -->
    <div class="card-body">
     <p>This is Parent Component</p>
     
     <br><br>
     <p>Data from child component is : {{dataFromChildToParent}}</p>
    </div> 
    <div class="card-footer">Footer</div>
  </div>
</div>

<app-child [parentData]="dataFromParentToChild" (itemtEvent)="emitDataFromchild($event)" ></app-child>

   
    <!-- <app-first></app-first>
  
   <app-contact></app-contact>  -->